# Streamlit logs
streamlit.log

# Node.js dependencies
node_modules/

# Python virtual environment
venv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
dist/
build/

# Local development settings
.env
.venv
env/
ENV/